[submodule "third_parties/OpenGLCore"]
	path = third_parties/OpenGLCore
	url = https://github.com/cracknum/OpenGLCore.git
[submodule "third_party/OpenGLCore"]
	path = third_party/OpenGLCore
	url = https://github.com/cracknum/OpenGLCore.git
